.logcont{
    width: 100vw;
    height: 100vh;
    background-color: rgb(91, 176, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logbox{
    width: 50%;
    height: 50%n;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}
.logbox input{
    border: none;
    padding: 20px 0px;
    border-radius: 10px;
    margin: 10px 0px;
    text-align: center;
}
.logbox button{
    border: none;
    padding: 20px 10px;
    cursor: pointer;
}
.answer{
    color: rgb(42, 150, 0);
    font-size: x-large;
}
h2{
    color: red
}